ion-view
  include ./header
  ion-view
    ion-view
      ion-content.has-header.text-center
        .spacer
          h3.vertical-aligned Create a new order
        h4 Get started by filling up the form
        form.join-order-form(ng-submit="submit()")
          .list
            label.item.item-divider.item-input.item-floating-label
              span.input-label Your Name
              input(type='text', placeholder='Your Name', ng-model="createOrder.name")
          .row
            .col-80.col-offset-10
              input.button.button-balanced.button-block(type="submit", value="Create Order")
