ion-view
  include ./genericHeader
  ion-view
    ion-view
      ion-content.has-header(padding=true)
        .spacer.spacer-image.spacer-order-create
        h4.text-center.has-side-margin Enter your <span ng-hide="hasAccount">name, </span> order title and time to get started!
        form.create-order-form(name="createOrderForm", formnovalidate="true")
          p.text-center.has-side-margin(ng-if="hasAccount") You are logged in as {{userName}}. <a ng-click="logoutConfirm()" href="#">Not you?</a>
          .list
            
            label.item.item-input.item-floating-label(ng-class="{ 'has-error': createOrderForm.name.$invalid \
                    && submitted, 'valid': createOrderForm.name.$valid && submitted }", ng-if="!hasAccount")
              span.input-label What is your name?
              input(type='text', placeholder='What is your name?', ng-model="createOrder.name", ng-minlength="2", ng-maxlength="20", ng-required="true", name="name")
            .form-errors(ng-if="submitted && createOrderForm.name.$error", ng-messages="createOrderForm.name.$error")
              .form-error(ng-message="required") We need your name.
              .form-error(ng-message="maxlength") Your name is a little long (more than 20 characters). Do you have a nickname instead?
              .form-error(ng-message="minlength") Your name is a little short (less than 2 characters). It'll be hard for others to recognise you.

            label.above.item.item-input.item-floating-label(ng-class="{ 'has-error': createOrderForm.orderName.$invalid \
                    && submitted, 'valid': createOrderForm.orderName.$valid && submitted }")
              span.input-label What is the title of your order?
              input(type='text', placeholder='What is the title of your order?', ng-model="createOrder.orderName", ng-required="true", name="orderName")
            .form-errors(ng-if="submitted && createOrderForm.orderName.$error", ng-messages="createOrderForm.orderName.$error")
              .form-error(ng-message="required") The title of your order is needed. You can put the shop you are buying from or the event that is related to the order.

            label.item.item-input.input-size Your order will close at&nbsp;
              ionic-timepicker(input-obj='timePickerObject24Hour')
                button.button-blank
                  standard-time-no-meridian(etime='timePickerObject24Hour.inputEpochTime')

          .row
            .col-80.col-offset-10
              button.button.button-filled.button-block(ng-if="!disconnected" ng-click="submit(createOrderForm)") Create Order
              button.button.button-disabled.button-block(ng-if="disconnected") Offline
