.container
  .row
    .col-md-12
      h1 Orderlyst
  .row
    .col-md-12
      form.join-order-form(ng-submit="submit()", ng-controller="CreateOrderController")
        .form-group
          input.form-control(placeholder="Name", ng-model="createOrder.name")
        button.btn.btn-dark.btn-block(type='submit') Create Order
        p {{createOrder.name}}
