.container.text-center
    .row
        .text-center
            h1 Orderlyst
    .row
        .form-wrapper
            form.join-order-form(accept-charset="UTF-8", ng-submit="submit()",
            ng-controller="CreateOrderController")
                input(placeholder="Name",ng-model="createOrder.name")
                input(type='submit', value='Create')
                p {{createOrder.name}}