ion-view
  include ./header
  ion-view
    ion-view
      ion-content.has-header.text-center
        .spacer
          h3.vertical-aligned Create a new order
        h4.text-left.has-side-margin Get Started!
        form.join-order-form(ng-submit="submit()")
          .list
            label.item.item-divider.item-input.item-floating-label
              span.input-label Your Name
              input(type='text', placeholder='Your Name', ng-model="createOrder.name")
          .row
            .col-80.col-offset-10
              input.button.button-blank.button-block(type="submit", value="Create Order")
