ion-view
  include ./genericHeader
  ion-view
    ion-view
      ion-content.has-header(padding=true)
        .spacer
          h3.text-center.vertical-aligned Create a new order
        h4.text-center.has-side-margin Get started by entering where you are ordering from!
        //h4.text-center.has-side-margin(ng-if="hasAccount") You are logged in as {{userName}}
        form.create-order-form(name="createOrderForm", formnovalidate="true")
          .list
            label.item.item-input.item-floating-label(ng-class="{ 'has-error': createOrderForm.name.$invalid \
                    && submitted, 'valid': createOrderForm.name.$valid && submitted }", ng-if="!hasAccount")
              span.input-label What is your name?
              input(type='text', placeholder='What is your name?', ng-model="createOrder.name", ng-minlength="2", ng-maxlength="20", ng-required="true", name="name")
            .form-errors(ng-if="submitted && createOrderForm.name.$error", ng-messages="createOrderForm.name.$error")
              .form-error(ng-message="required") We need your name.
              .form-error(ng-message="maxlength") Your name is a little long (more than 20 characters). Do you have a nickname instead?
              .form-error(ng-message="minlength") Your name is a little short (less than 3 characters). It'll be hard for others to recognise you.

            label.item.item-input.item-floating-label(ng-class="{ 'has-error': createOrderForm.orderName.$invalid \
                    && submitted, 'valid': createOrderForm.orderName.$valid && submitted }")
              span.input-label Where are you ordering from?
              input(type='text', placeholder='Where are you ordering from?', ng-model="createOrder.orderName", ng-required="true", name="orderName")
            .form-errors(ng-if="submitted && createOrderForm.orderName.$error", ng-messages="createOrderForm.orderName.$error")
              .form-error(ng-message="required") We need your order's name.

            label.item.item-input.item-floating-label Your order will close at&nbsp;
              ionic-timepicker(input-obj='timePickerObject24Hour')
                button.button.button-filled
                  standard-time-no-meridian(etime='timePickerObject24Hour.inputEpochTime')

          .row
            .col-80.col-offset-10
              button.button.button-blank.button-block(ng-click="submit(createOrderForm)") Create Order
