ion-header-bar.bar-orderlyst
    ion-nav-bar
        ion-nav-buttons(side="left")
            a.button.button-icon.button-filled.icon.ion-ios-arrow-back(href="/", nav-direction="back")
        ion-nav-title
            .navbar-brand
