#homeLogo
  ion-slide-box#homePageSlider(does-continue="true", auto-play="true", slide-interval="6000")
    ion-slide
      .box.tut1
    ion-slide
      .box.tut2
    ion-slide
      .box.tut3
.row#homeButtons
  .col-80.col-offset-10
    div
      a.button.button-filled.button-block(href='/join') Join Order
    div
      a.button.button-blank.button-block(ng-click="createOrder()") Create Order
