.container.main-container
  .row
    #homeLogo
      #homePageSlider.slider
        .slide-group
          .slide
            img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
            span.slide-text
              span.icon.icon-left-nav
              |         Slide me
          .slide
            img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
          .slide
            img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
  .row
    .col-xs-8.col-xs-offset-2
      a.btn.btn-positive.btn-block(href='/join') Join Order
      a.btn.btn-negative.btn-block(ng-click="createOrder()") Create Order
