.row#homeLogo
  .col
    ion-slide-box#homePageSlider
      ion-slide
        .box.blue
          img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
      ion-slide
        .box.yellow
          img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
      ion-slide
        .box.pink
          img(src='http://1.bp.blogspot.com/-P2GRkzMsIwc/UrjBzoeEYPI/AAAAAAAAHH4/RBdeQl3sesw/s1600/DSC03794-SNOW.gif')
      ion-slide-pager
.row.row-center
  .col-80.col-offset-10
    div
      a.button.button-calm.button-block(href='/join') Join Order
    div
      a.button.button-royal.button-block(ng-click="createOrder()") Create Order
