.container
  .row
    .col-md-12
      h1 Orderlyst
  .row
    .col-md-12
      a.btn.btn-dark.btn-block(href='/join') Join Order
      a.btn.btn-light.btn-block(ng-click="createOrder()") Create Order
