#homeLogo
  ion-slide-box#homePageSlider(does-continue="true", auto-play="true", slide-interval="6000")
    ion-slide
      .box
        .tutorial.tut1
    ion-slide
      .box
        .tutorial.tut2
    ion-slide
      .box
        .tutorial.tut3
    ion-slide
      .box
        .tutorial.tut4
.row#homeButtons
  .col-80.col-offset-10
    div(ng-if="disconnected()") You are offline. Please connect to the internet to join or create an order.
    div(ng-if="!disconnected()")
      a.button.button-filled.button-block(href='/join') Join Order
    div(ng-if="!disconnected()")
      a.button.button-blank.button-block(href='/create') Create Order
