.container
    .row
        .hero-copy.text-center
            h1 Orderlyst
    .row
        .col-sm-12.text-center
            div: a.btn.btn-primary(href='/join') Join Order
            div: a.btn.btn-success(href='/create') Create Order