ion-view
  .row
    .col-md-12
      h1 Orderlyst
  .row
    .col-md-12
      form.form(ng-submit="submit()")
        .form-group
          input.form-control(placeholder="Name",ng-model="joinOrder.name", ng-if="!hasAccount")
        .form-group
          input.form-control(placeholder="Order Code",ng-model="joinOrder.code")
        button.btn.btn-dark.btn-block(type='submit') Join Order
      p {{joinOrder.name}}
