ion-view
  include ./genericHeader
  ion-view
    ion-view
      ion-content.has-header(padding=true)
        .spacer.spacer.spacer-image.spacer-order-join
        h4.text-center Enter <span ng-hide="hasAccount">your name and </span>the order code to get started!
        form.join-order-form(name="joinOrderForm")
          p.text-center.has-side-margin(ng-if="hasAccount") You are logged in as {{userName}}. <a ng-click="logoutConfirm()" href="#">Not you?</a>
          .list
            label.item.item-input.item-floating-label(ng-class="{'has-error': submitted && (joinOrderForm.code.$invalid || codeNotAvailable)}")
              span.input-label What is the order code?
              input(type='tel', placeholder='What is the order code? e.g.: 71945', ng-model="joinOrder.code", ng-required="true", name="code")
            .form-errors(ng-if="submitted && joinOrderForm.code.$error", ng-messages="joinOrderForm.code.$error")
              .form-error(ng-message="required") You need to enter an order code.
              .form-error(ng-show="codeNotAvailable") The order code you have entered is invalid or no longer available.
              
            label.item.item-input.item-floating-label(ng-class="{ 'has-error': joinOrderForm.name.$invalid \
                    && submitted, 'valid': joinOrderForm.name.$valid && submitted }", ng-if="!hasAccount")
              span.input-label What is your name?
              input(type='text', placeholder='What is your name?', ng-model="joinOrder.name", ng-required="true", ng-minlength="2", ng-maxlength="20", name="name")
            .form-errors(ng-if="submitted && !hasAcount && joinOrderForm.name.$error", ng-messages="joinOrderForm.name.$error")
              .form-error(ng-message="required") We need your name.
              .form-error(ng-message="maxlength") Your name is a little long (more than 20 characters). Do you have a nickname instead?
              .form-error(ng-message="minlength") Your name is a little short (less than 2 characters). It'll be hard for others to recognise you.
          .row
            .col-80.col-offset-10
              button.button.button-filled.button-block(ng-if="!disconnected" ng-click="submit(joinOrderForm)") Join Order
              button.button.button-disabled.button-block(ng-if="disconnected") Offline
