ion-view
  include ./header
  ion-view
    ion-view
      ion-content.has-header.text-center
        .spacer
          h3.vertical-aligned Join an Order
        h4.text-left.has-side-margin Get Started!
        form(ng-submit="submit()")
          .list
            label.item.item-divider.item-input.item-floating-label
              span.input-label Order Code
              input(type='text', placeholder='Your order code, e.g.: 71945', ng-model="joinOrder.code")
            label.item.item-divider.item-input.item-floating-label(ng-if="!hasAccount")
              span.input-label Your Name
              input(type='text', placeholder='Your Name', ng-model="joinOrder.name")
          .row
            .col-80.col-offset-10
              input.button.button-filled.button-block(type="submit", value="Join Order")
