.container.text-center
    .row
        .text-center
            h1 Orderlyst
    .row
        .form-wrapper
            form.join-order-form(accept-charset="UTF-8", ng-submit="submit(joinOrder)")
                input(placeholder="Name",ng-model="joinOrder.name")
                input(placeholder="Order Code",ng-model="joinOrder.code")
                input(type='submit', ng-click="submit(joinOrder)", value='Join')
    p {{joinOrder.name}}