.container.text-center
    .row
        .text-center
            h1 Orderlyst
    .row
        .form-wrapper
            form.join-order-form(accept-charset="UTF-8", ng-submit="submit()")
                input(placeholder="Name",ng-model="joinOrder.name", ng-if="!hasAccount")
                input(placeholder="Order Code",ng-model="joinOrder.code")
                input(type='submit', value='Join')
    p {{joinOrder.name}}