ion-popover-view
    ion-content.text-center
        .item.metadata Your Order Code is <b>{{order.code}}</b>
        .item(ng-click="openFacebookShareLink(order.code)")
          i.icon.ion-social-facebook
          | &nbsp;Share on Facebook
        .item(ng-click="showChangeNamePopup()")
            | Change Your Name
