ion-modal-view
    ion-header-bar.bar-orderlyst.bar-filled
        h2.title.text-center Order Settings
    ion-content.has-header
        form.new-order-item-form.modal-body.list(accept-charset="UTF-8", name="orderSettingsForm", novalidate="")
            label.item.item-input.item-floating-label(ng-class="{ 'has-error': orderSettingsForm.name.$invalid && orderSettings.submitted, \
                    'valid': orderSettingsForm.name.$valid && orderSettings.submitted && orderSettingsForm.name.$dirty }")
                span.input-label Order Name
                input(type="text",placeholder="Order Name",ng-model="orderSettings.name", ng-required="true", name="name")
            .form-errors(ng-show="orderSettingsForm.name.$error && orderSettings.submitted", ng-messages="orderSettingsForm.name.$error")
                .form-error(ng-message="required") Order name is required

            label.item.item-input.item-floating-label(ng-class="{ 'has-error': orderSettingsForm.surcharge.$invalid && orderSettings.submitted, \
                    'valid': orderSettingsForm.surcharge.$valid && orderSettings.submitted && orderSettingsForm.surcharge.$dirty }")
                span.input-label Surcharges (S$)
                input(type="number",placeholder="Surcharge (S$)",ng-model="orderSettings.surcharge", ng-required="true", name="surcharge", \
                ng-pattern="/^[0-9]+(\.[0-9]([05])?)?$/")
            .form-errors(ng-show="orderSettingsForm.surcharge.$error && orderSettings.submitted", ng-messages="orderSettingsForm.surcharge.$error")
                .form-error(ng-message="required") Surcharge is required
                .form-error(ng-message="pattern") Surcharge must be valid

            label.item.item-input.item-floating-label(ng-class="{ 'has-error': orderSettingsForm.tax.$invalid && orderSettings.submitted, \
                    'valid': orderSettingsForm.tax.$valid && orderSettings.submitted && orderSettingsForm.tax.$dirty }")
                span.input-label Taxes (%)
                input(type="number",placeholder="Taxes (%)",ng-model="orderSettings.tax", ng-required="true", \
                ng-pattern="/^[0-9]+(\.[0-9]+)?$/", name="tax")
            .form-errors(ng-show="orderSettingsForm.tax.$error && orderSettings.submitted", ng-messages="orderSettingsForm.tax.$error")
                .form-error(ng-message="required") Tax is required
                .form-error(ng-message="pattern") Tax must be valid

            label.item.item-input.input-size Your order closes at&nbsp
                ionic-timepicker(input-obj='timePickerObject24Hour')
                    button.button-blank
                        standard-time-no-meridian(etime='timePickerObject24Hour.inputEpochTime')

    ion-footer-bar.bar-orderlyst()
        button.button.button-clear.button-blank(ng-click="closeOrderSettingsModal()") Cancel
        button.button.button-clear.button-filled(ng-click="updateOrderSettings()") Update Order
