ion-modal-view
    ion-header-bar.bar-stable
        h2.title Order not found
    ion-content.has-header
        p The order code you have entered did not match any open orders.
    ion-footer-bar.bar.bar-footer.bar-energized
        button.button.button-block.button-energized(ng-click="closeModal()") Close
