ion-popover-view
    ion-content.text-center
        .item.metadata Order Code: {{order.code}}
        input.item(value="{{joinLink}}", id="joinLink", ng-if="showJoinLink")
        .item(ng-click="showLink()", ng-if="!showJoinLink")
            | <i class="icon ion-link"></i> Get Link
        .item(ng-click="showChangeNamePopup()")
            | Change Your Name