ion-view
  .alert(ng-if="alertOn", ng-class="alertType") {{alertMessage}}
  ion-side-menus
    ion-side-menu-content
      ion-header-bar.bar-orderlyst
        ion-nav-bar(animation="slide-left-right")
          ion-nav-buttons(side="left")
            .button.button-icon.icon.ion-navicon-round(ng-click="toggleSideMenu()")
          ion-nav-title
            a.navbar-brand
          ion-nav-buttons(side="right")
            .button.button-icon.icon.ion-share(ng-click="openPopover($event)")
      ion-view
        block content

    ion-side-menu#sideMenu(side="left")
      ion-content(has-header="true")
        .list
          .bar.bar-header.bar-dark.item.item-divider(ng-if="!nameChanging")
            | {{userDictionary[uid].name}}
            span.ord-blue.large(ng-click="toggleNameChanging()") &nbsp;<i class="icon ion-edit"></i>
          .bar.bar-header.bar-dark.item.item-divider( ng-if="nameChanging")
            input(ng-model="$parent.$parent.$parent.nameChangeData")
            span.ord-blue.large(ng-click="toggleNameChanging()") &nbsp;<i class="icon ion-checkmark"></i>
          a.item(ui-sref='index') <i class="icon ion-ios-home"></i> Home
          a.item(ui-sref="create") New Order
