ion-view
    .alert.alert-green(ng-if="newItemAdded") {{alertMessage}}
    include ./header
    ion-view
        ion-tabs.tabs-striped.tabs-top.tabs-color-assertive(has-header="true")
            ion-tab(title="User Orders")
                ion-view
                    ion-content(on-scroll="scroll()", on-scroll-complete="scrollb()")
                        ion-list(ng-if="items.length")
                            div(ng-repeat="(user, groupedByUserItems) in items | where: { UserUserId: uid } | groupBy: 'UserUserId'")
                                .list.card.card-personal
                                    .item.item-divider
                                        b {{userDictionary[user].name}}
                                    ul.div(ng-repeat="(name, prices) in groupedByUserItems | groupBy: 'name'")
                                        ion-item.user-order-item(can-swipe="true", ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                            .col.col-10
                                                span.orderlyst-badge {{groupedItems.length}}
                                            .col.col-60
                                                | {{name}}
                                            .col.col-30.text-right
                                                | S{{price * groupedItems.length | currency}}
                                            ion-option-button.button-positive.ion-plus(ng-if="order.isOpen", \
                                                ng-click="createAdHocOrderItem(name, price)")
                            div(ng-repeat="(user, groupedByUserItems) in items | removeWith: { UserUserId: uid } | groupBy: 'UserUserId'")
                                .list.card
                                    .item.item-divider
                                        b {{userDictionary[user].name}}
                                    ul.div(ng-repeat="(name, prices) in groupedByUserItems | groupBy: 'name'")
                                        ion-item.user-order-item(can-swipe="true", ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                            .col.col-10
                                                span.orderlyst-badge {{groupedItems.length}}
                                            .col.col-60
                                                | {{name}}
                                            .col.col-30.text-right
                                                | S{{price * groupedItems.length | currency}}
                                            ion-option-button.button-positive.ion-plus(ng-if="order.isOpen", \
                                                ng-click="createAdHocOrderItem(name, price)")
                        .spacer(ng-if="!items.length")
                            .vertical-aligned Tap "Add Item" or swipe existing<br>items to start adding to your order.
                    ion-footer-bar.bar-filled(ng-if="order.isOpen && !scrolling")
                        button.button.button-clear(ng-click="openAddItemModal()") <i class="icon ion-ios-plus-empty"></i> Add Item
            ion-tab(title="Receipt")
                ion-view
                    ion-content(on-scroll="scroll()", on-scroll-complete="scrollb()")
                        ion-list(ng-if="items.length")
                            ul(ng-repeat="(name, prices) in items | groupBy: 'name'")
                                div(ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                    li.row.item
                                        .col.col-10
                                            span.orderlyst-badge {{groupedItems.length}}
                                        .col.col-60
                                            | {{name}}
                                        .col.col-30.text-right
                                            | S{{price * groupedItems.length | currency}}
                            .order-fee
                                .row.item
                                    .col.col-60.col-offset-10 Subtotal:
                                    .col.col-30.text-right S{{subtotalFee() | currency}}
                                .row.item
                                    .col.col-60.col-offset-10 Surcharges:
                                    .col.col-30.text-right S{{order.surcharge | currency}}
                                .row.item
                                    .col.col-60.col-offset-10 Taxes:
                                    .col.col-30.text-right {{order.tax}}%
                                hr
                                .row.item
                                    .col.col-60.col-offset-10 Total:
                                    .col.col-30.text-right S{{ totalFee() | currency}}

                        div(ng-if="!items.length")
                            .row.item.text-center
                                .col No items
                            .order-fee
                                .row.item
                                    .col.col-60.col-offset-10 Subtotal:
                                    .col.col-30.text-right S{{totalFee() | currency}}
                                .row.item
                                    .col.col-60.col-offset-10 Delivery Fee:
                                    .col.col-30.text-right S$0.00
                                hr
                                .row.item
                                    .col.col-60.col-offset-10 Total:
                                    .col.col-30.text-right S{{totalFee() | currency}}

                    ion-footer-bar.bar-orderlyst(ng-if="isOwner && !scrolling")
                        button.button.button.button-filled.button-clear(ng-if="order.isOpen",ng-click="toggleLocked()") <i class="icon ion-ios-unlocked"></i> Lock Order
                        button.button.button.button-filled.button-clear(ng-if="!order.isOpen", ng-click="toggleLocked()") <i class="icon ion-ios-locked"></i> Unlock Order
                        button.button.button.button-blank.button-clear(ng-click="openAdditionalFeeModal()") Additional Fees
