ion-view
    include ./header
    ion-view
        ion-tabs.tabs-striped.tabs-top.tabs-color-assertive(has-header="true")
            ion-tab(title="User Orders")
                ion-view
                    ion-content
                        ion-list(ng-if="items.length")
                            div(ng-repeat="(user, groupedByUserItems) in items | groupBy: 'UserUserId'")
                                .list.card
                                    .item.item-divider
                                        | {{userDictionary[user].name}}
                                        .span.pull-right.ion-plus
                                    ul.div(ng-repeat="(name, prices) in groupedByUserItems | groupBy: 'name'")
                                        ion-item.user-order-item(can-swipe="true", ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                            .col.col-10
                                                span.orderlyst-badge {{groupedItems.length}}
                                            .col.col-60
                                                | {{name}}
                                            .col.col-30.text-right
                                                | {{price * groupedItems.length | currency}}
                                            ion-option-button.button-positive.ion-plus
                        .spacer(ng-if="!items.length")
                            .vertical-aligned Be the first one to order

                        .button-bar.row.buttons-with-side-margin
                            .button.button.button-royal.button-block(ng-click="openModal()") Add Item
                            .button.button.button-calm.button-block  My Order
            ion-tab(title="Total Orders")
                ion-view
                    ion-content.main-container
                        div(ng-if="items.length")
                            ul(ng-repeat="(name, prices) in items | groupBy: 'name'")
                                div(ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                    li.row.item
                                        .col.col-10
                                            span.orderlyst-badge {{groupedItems.length}}
                                        .col.col-60
                                            | {{name}}
                                        .col.col-30.text-right
                                            | {{price * groupedItems.length | currency}}
                            .order-fee
                                .row.item
                                    .col.col-60.col-offset-10 Subtotal:
                                    .col.col-30.text-right {{totalFee() | currency}}
                                .row.item
                                    .col.col-60.col-offset-10 Delivery Fee:
                                    .col.col-30.text-right $0.00
                                hr
                                .row.item
                                    .col.col-60.col-offset-10 Total:
                                    .col.col-30.text-right {{totalFee() | currency}}

                        .spacer(ng-if="!items.length")
                            .vertical-aligned Be the first one to order

                        //.form-wrapper
                        //    form.new-order-item-form(accept-charset="UTF-8", ng-submit="createOrderItem()")
                        //    .list
                        //        label.item.item-input
                        //            input(type="text",placeholder="Item",ng-model="itemFormData.name")
                        //        label.item.item-input
                        //            input(type="text",placeholder="Price",ng-model="itemFormData.price")
                        //        button.button.button-block.button-stable(ng-click="createOrderItem()")
                        //            | Add New Item

