ion-header-bar.bar-positive
    a.title(href="/") Orderlyst
ion-view
    ion-tabs.tabs-striped.tabs-top.tabs-color-assertive(has-header="true")
        ion-tab(title="Total Orders")
            ion-view
                ion-content
                    div(ng-repeat="(name, prices) in items | groupBy: 'name'")
                        div(ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                            .row
                                .col.col-10
                                    | {{groupedItems.length}}
                                .col.col-60
                                    | {{name}}
                                .col.col-30
                                    | {{price * groupedItems.length | currency}}
                    .form-wrapper
                        form.new-order-item-form(accept-charset="UTF-8", ng-submit="createOrderItem()")
                        .list
                            label.item.item-input
                                input(type="text",placeholder="Item",ng-model="formData.name")
                            label.item.item-input
                                input(type="text",placeholder="Price",ng-model="formData.price")
                            button.button.button-block.button-stable(ng-click="createOrderItem()")
                                | Add New Item
        ion-tab(title="User Orders")
            ion-view
                ion-content
