extends viewHeader
block content
    ion-tabs.tabs-striped.tabs-top.tabs-color-assertive(has-header="true")
        ion-tab(title="User Orders")
            ion-view
                ion-content
                    .item.item-divider
                        span.ord-blue.order-title {{order.name}}
                        span.pull-right
                            | <i class="icon ion-android-alarm-clock"></i>
                            span.ord-blue {{getClosingTime()}}

                    .line-text
                        span.text Order Code: {{order.code}}

                    ion-list(ng-if="items.length")
                        // If i have order items
                        div(ng-repeat="(user, groupedByUserItems) in items | unique: 'itemId' | where: { UserUserId: uid } | groupBy: 'UserUserId'")
                            .list.card
                                .item.item-divider.item-personal-header
                                    b {{userDictionary[user].name}}
                                ul.div(ng-repeat="(name, prices) in groupedByUserItems | groupBy: 'name'")
                                    ion-item.user-order-item(can-swipe="true", ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                        .col.col-70
                                            span.annotation {{name}}
                                            b &nbsp;&nbsp;&nbsp;<i class="icon ion-close-round"></i>&nbsp;&nbsp;&nbsp;
                                            span.orderlyst-badge {{groupedItems.length}}
                                        .col.col-30.text-right
                                            .annotation S{{price * groupedItems.length | currency}}
                                        ion-option-button.button-dark(ng-if="order.isOpen", \
                                            ng-click="removeOrderItem(groupedItems[0])") -1
                                        ion-option-button.button-filled(ng-if="order.isOpen", \
                                            ng-click="createAdHocOrderItem(name, price)") +1
                                .item.item-divider.personal-cost <i class="icon ion-cash"></i> Total
                                .item.item-divider.row.personal-cost
                                    .col.col-70 $246 + $3.50
                                    .col.col-30.text-right
                                        u $249.50

                        // Otherwise
                        .list.card.card-personal(ng-if="!hasOrderItems()")
                            .item.item-divider
                                b {{userDictionary[uid].name}}
                            small.item.annotation Tap "Add Item" or swipe existing items to start adding to your order.


                        div(ng-repeat="(user, groupedByUserItems) in items | unique: 'itemId' | removeWith: { UserUserId: uid } | groupBy: 'UserUserId'")
                            .list.card
                                .item.item-divider
                                    b {{userDictionary[user].name}}
                                ul.div(ng-repeat="(name, prices) in groupedByUserItems | groupBy: 'name'")
                                    ion-item.user-order-item(can-swipe="true", ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                        .col.col-70
                                            span.annotation {{name}}
                                            b &nbsp;&nbsp;&nbsp;<i class="icon ion-close-round"></i>&nbsp;&nbsp;&nbsp;
                                            span.orderlyst-badge {{groupedItems.length}}
                                        .col.col-30.text-right
                                            | S{{price * groupedItems.length | currency}}
                                        ion-option-button.button-filled.ion-android-cart(ng-if="order.isOpen", \
                                            ng-click="createAdHocOrderItem(name, price)")
                    .spacer(ng-if="!items.length")
                        .vertical-aligned Tap "Add Item" or swipe existing<br>items to start adding to your order.
                ion-footer-bar.bar-filled(ng-if="order.isOpen")
                    button.button.button-clear(ng-if="order.isOpen" ng-click="openAddItemModal()") <i class="icon ion-ios-plus-empty"></i> Add Item <i class="icon ion-android-cart"></i>
                ion-footer-bar.bar-disabled(ng-if="!order.isOpen")
                    button.button.button-clear(ng-if="!order.isOpen" ng-disabled=true) <i class="icon ion-ios-locked"></i> Order Locked
        ion-tab(title="Total Orders")
            ion-view
                ion-content
                    ion-list(ng-if="items.length")
                        ul(ng-repeat="(name, prices) in items | unique: 'itemId' | groupBy: 'name'")
                            div(ng-repeat="(price, groupedItems) in prices | groupBy: 'price'")
                                li.row.item
                                    .col.col-70
                                        | {{name}}
                                        b &nbsp;&nbsp;&nbsp;<i class="icon ion-close-round"></i>&nbsp;&nbsp;&nbsp;
                                        span.orderlyst-badge {{groupedItems.length}}
                                    .col.col-30.text-right
                                        | S{{price * groupedItems.length | currency}}
                        .order-fee
                            .row.item
                                .col.col-60.col-offset-10 Subtotal:
                                .col.col-30.text-right S{{subtotalFee() | currency}}
                            .row.item
                                .col.col-60.col-offset-10 Surcharges:
                                .col.col-30.text-right S{{order.surcharge | currency}}
                            .row.item
                                .col.col-60.col-offset-10 Taxes:
                                .col.col-30.text-right {{order.tax}}%
                            hr
                            .row.item
                                .col.col-60.col-offset-10 Total:
                                .col.col-30.text-right S{{ totalFee() | currency}}

                    div(ng-if="!items.length")
                        .row.item.text-center
                            .col No items yet. Start adding in User Orders tab!
                        .order-fee
                            .row.item
                                .col.col-60.col-offset-10 Subtotal:
                                .col.col-30.text-right S{{subtotalFee() | currency}}
                            .row.item
                                .col.col-60.col-offset-10 Surcharge
                                .col.col-30.text-right S{{getSurcharge() | currency}}
                            .row.item
                                .col.col-60.col-offset-10 Tax
                                .col.col-30.text-right S{{getTax() | currency}}
                            hr
                            .row.item
                                .col.col-60.col-offset-10 Total:
                                .col.col-30.text-right S{{totalFee() | currency}}

                ion-footer-bar.bar-orderlyst(ng-if="isOwner")
                    button.button.button.button-filled.button-clear(ng-click="openAdditionalFeeModal()") Order Settings
                    button.button.button.button-blank.button-clear(ng-if="order.isOpen",ng-click="showLockOrderPopup()") <i class="icon ion-ios-unlocked"></i> Lock Order
                    button.button.button.button-blank.button-clear(ng-if="!order.isOpen", ng-click="toggleLocked()") <i class="icon ion-ios-locked"></i> Unlock Order
