ion-header-bar.bar-stable
  ion-nav-bar
    ion-nav-title
      a.navbar-brand
    ion-nav-buttons(side="right")
      button.button.button-icon.icon.ion-android-more-vertical(menu-toggle="right", ng-click="openPopover($event)")
              
