$color-primary-yellow: #FDBA27;
$color-primary-orange: #FF8132;
$color-primary-green: #4c9689;
$color-white: white;
$color-light-brown: #F0AC70;
$color-dark-brown: #8B572A;
$color-light-gray: rgb(204, 214, 221);
$color-grey: #414a51;
$color-darker-green: #13A080;
$color-semi-gray: #828587;
$color-light-green: #51CAAF;

/** Facebook colours **/
$color-facebook-blue: #3B5999;
$color-facebook-lighter-blue: #5772AD;
$color-facebook-darker-blue: #22438A;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-mid-min: 992px;
$screen-lg-min: 1200px;

$fancy-font: Lato, sans-serif;
$default-font: "Open Sans", Helvetica, Arial, sans-serif;
