$fancy-font: Lato, sans-serif;
$default-font: 'Montserrat', sans-serif;

$color-primary-blue: #62C1B6;
$color-primary-yellow: #FCE97C;
$color-primary-grey: #828282;
$color-primary-cream: #F5F5F5;
$color-primary-black: #202444;
$color-primary-lightgrey: #F5F5F5;


$input-font-size: 14px;

$home-logo-height-percent: 65%;
