.alert {
  padding: 10px;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.6);
  border-radius: 4px;
  position: absolute;
  top: 18px;
  left: 20%;
  width: 60%;
  z-index: 100;
  text-align: center;
  display: none;
}

.alert.ng-enter {
  display: block;
  animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
  0% 	{ opacity: 0; }
  10% { opacity: 0.8; transform: translateY(-8px);}
  25% { opacity: 1; transform: translateY(-5px);}
  30% { opacity: 1; transform: translateY(-5px);}
  96% { opacity: 0.5; transform: translateY(5px);}
  99% { opacity: 0; transform: translateY(8px);}
  100% { opacity: 0; }
}

.danger {
  color: white;
  background-color: #DA4453;
}
.success {
  color: white;
  background-color: #37BC9B;
}
.info {
  color: white;
  background-color: #4A89DC;
}
.yellow {
  color: white;
  background-color: #F6BB42;
}
.warning {
  color:white;
  background-color: #EC971F;
}
