// Import partials and utilities
@import 'mixins/variables';

@mixin carousel-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#homeLogo {
  height: 100%;
  .box {
    height: 100%;
  }
  .tutorial {
    height: $home-logo-height-percent;
  }
  .tut1 {
    background: url('/assets/images/tut1.png');
    @include carousel-logo;
  }
  .tut2 {
    background: url('/assets/images/tut2.png');
    @include carousel-logo;
  }
  .tut3 {
    background: url('/assets/images/tut3.png');
    @include carousel-logo;
  }
  .tut4 {
    background: url('/assets/images/tut4.png');
    @include carousel-logo;
  }
  .carousel-logo-spacer {
    height: 65%;
  }
  #homePageSlider {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
    text-align: center;
    vertical-align: middle;
  }
}

#homeButtons {
  position: absolute;
  top: $home-logo-height-percent;
}