body,
html {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  &,
  &:hover,
  &:focus {
    border: none;
  }
}

.panel {
  border: none;
}