// Import partials and utilities
@import 'mixins/variables';

.order-title {
  font-weight: bold;
}

.order-fee {
  margin-top: 5% !important;
  .item {
    border: none !important;
  }
}

.orderlyst-badge {
  position: absolute;
  width: 1.5em;
  height: 100%;
  max-height: 1.5em;
  border-radius: 50%;
  background-color: $color-primary-yellow;
  color: $color-primary-black;
  text-align: center;
  vertical-align: baseline;
  font-size: 15px;
}

.user-order-item {
  border: 1px solid #ddd !important;
  border-radius: 0px !important;
  .item-content {
    padding: 1pc 0 1pc 0;
    display: flex;
    width: 100%;
  }
}

input.special-height {
  height: 18px !important;
}

.item-divider.item-personal-header {
    background-color: $color-primary-yellow;
}

.card {
  .item.item-divider.personal-cost {
    &:first-child {
      padding-bottom: 0;
    }
    &:last-child {
      padding-top: 0;
    }
  }
}

#joinLink {
  -webkit-user-modify: read-write;
}

.spacer-order-create {
  background-image: url('/assets/images/create.png');
}

.spacer-order-join {
  background-image: url('/assets/images/join.png');
}

.input-size {
  font-size: $input-font-size;
}