.order-fee {
  margin-top: 5% !important;
  .item {
    border: none !important;
  }
}

.orderlyst-badge {
  position: absolute;
  width: 1.5em;
  height: 100%;
  max-height: 1.5em;
  border-radius: 50%;
  background-color: #ef473a;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
}

.user-order-item {
  border: 1px solid #ddd !important;
  border-radius: 0px !important;
  .item-content {
    padding: 1pc 0 1pc 0;
    display: flex;
    width: 100%;
  }
}
