extends index

block meta
  meta(property="og:title", content="Join my " + order.name + " supper order")
  meta(property="og:site_name", content="Orderlyst")
  meta(property="og:description", content="Join in " + order.name + " supper order and split bills easily. ")
  meta(property="og:url", content="http://orderlyst.this.sg/join/" + order.code)
  //meta(property="og:image", content="http://ship.this.sg/assets/images/fb-share.png")
